<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
<title>EJS Is Fun</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<style>
  body { padding-top:50px; }
</style>

<style>
  * {
    margin: 0;
    padding: 0
}

body {
    background-color: #000
}

.card {
    width: 350px;
    background-color: #efefef;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}

.image img {
    transition: all 0.5s
}

.card:hover .image img {
    transform: scale(1.5)
}

.btn {
    height: 140px;
    width: 140px;
    border-radius: 50%
}

.name {
    font-size: 22px;
    font-weight: bold
}

.idd {
    font-size: 14px;
    font-weight: 600
}

.idd1 {
    font-size: 12px
}

.number {
    font-size: 22px;
    font-weight: bold
}

.follow {
    font-size: 12px;
    font-weight: 500;
    color: #444444
}

.btn1 {
    height: 40px;
    width: 150px;
    border: none;
    background-color: #000;
    color: #aeaeae;
    font-size: 15px
}

.text span {
    font-size: 13px;
    color: #545454;
    font-weight: 500
}

.icons i {
    font-size: 19px
}

hr .new1 {
    border: 1px solid
}

.join {
    font-size: 14px;
    color: #a0a0a0;
    font-weight: bold
}

.date {
    background-color: #ccc
}
</style>
</head>
<body class="container">

<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Repositories</a>
    
  </nav>
</header>

<main>
  <div class="jumbotron">
   

<div id="places"> </div>

    
  </div>
</main>

<footer>
  <p class="text-center text-muted">&copy; Copyright 2020</p>
</footer>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">

const urlParams = new URLSearchParams(window.location.search);
const myParam = urlParams.get('name');

      var txt_name = myParam;
      //console.log(window.location.href);
      $(document).ready(function() {
           $.ajax({
              type: "GET",
              url: "/api/git/"+ txt_name,
              contentType: 'application/json',
              success: function(response) {
                  var parseval = JSON.parse(response);
                  
                  var str = "";
                  $("#places").empty();
                  if(parseval.response.length > 0){
                  
                  $.each(parseval.response, function(index, element) {
                      console.log(element);
                      str += '<p>' + '<b>Repo Name</b> - <span class="name">' + element.repo_name + '</span></br>' +
                              '<b>Description</b> - <span class="location">' + element.repo_description + '</span></br>'+
                              '<b>Rating</b> - <span class="location">' + element.rating + '</span></br>'+
                              '<b>Repo Url</b> - <a href="'+ element.url +'"target="_blank">Click to open repo</a>' +
                              '</p>'
                  });
              } else {
                  str += "No repository found";
              }
                  $('#places').append(str);
                     //alert("success!");
              },
              error: function(jqXHR, textStatus, errorThrown) {
                      alert("Please enter handle name");
              },
          });
      });
  
  
      </script>

</html>